<div class="initiative--card">

  <div class="image" style="background-image: url(<%= tablet.image_url %>);">
    <%= link_to "", tablet_path(tablet), class: "hit-area" %>
  </div>

  <div class="content">
    <header>
      <h2>
        <%= link_to tablet.headline, "#" %>
      </h2>
      <p>
        <%= tablet.short_description %>
      </p>
    </header>
  </div>
  <footer>
    <%= link_to "更多...", "#" -%>
  </footer>
</div>

